.benefits {
  // position: relative;
  // width: 100vw;
  text-align: center;
  padding: 40px 0 12px;
  background-color: rgba(63, 140, 255, 0.06);
  height: 600px;

  &__title {
    font-size: 24px;
    color: #333;
    font-weight: 600;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; 
  }

  &__left,
  &__right,
  &__center {
    flex: 1;
  }

  &__left,
  &__right {
    max-width: 360px;
    position: relative;
  }

  &__center {
    max-width: 400px;
    top: 50%;
  }

  &__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
    color: #4a4a4a;
    font-weight: 500;
    position: relative;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    text-align: right;
  }

  &__item {
    position: relative;
    border-radius: 12px;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    padding: 20px 4px;
    background-color: white;
    box-shadow: rgba(63, 140, 255, 0.19) 0px 10px 20px,
      rgba(63, 140, 255, 0.23) 0px 6px 6px;
  }

  &__item:hover {
    transform: scale(1.05);
  }

  &__left &__item {
    &:first-of-type,
    &:last-of-type {
      left: 15%;
    }
  }

  &__right &__item {
    &:first-of-type,
    &:last-of-type {
      right: 10%;
    }
  }

  &__left &__subtitle {
    left: 15%;
    top: 10%;
  }

  &__right &__subtitle {
    top: 10%;
    right: 10%;
  }

  &__image {
    max-width: 100%;
    height: auto;
    padding-top: 48px;
  }

  &__left &__subtitle {
    color: #4caf50;
  }

  &__right &__subtitle {
    color: #ff5722;
  }

  @media (max-width: 1024px) {
    height: auto;

    &__subtitle {
      font-size: 20px;
      margin-top: 20px;
    }

    &__content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
    }

    &__center {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -70%);
      width: 80%;
      height: 80%;
      z-index: 1;
      opacity: 0.1;
    }

    &__left,
    &__right {
      position: relative;
      z-index: 2;
      flex: 0 0 48%;
      max-width: 48%;
      margin-bottom: 30px;
    }

    &__subtitle {
      position: static;
      text-align: center;
      left: auto;
      right: auto;
      top: auto;
    }

    &__item {
      left: auto !important;
      right: auto !important;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      margin-top: 24px;
      margin-bottom: 20px;
      padding: 12px;
    }

    &__left &__item,
    &__right &__item {
      &:first-of-type,
      &:last-of-type {
        left: auto;
        right: auto;
      }
    }
  }
  @media (min-width: 420px) and (max-width: 500px) {
    &__center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      width: 80%;
      height: 80%;
      z-index: 1;
      opacity: 0.1;
    }
  }
}
