.ant-modal-wrap{
    background: linear-gradient(to right,#e2e2e2c2,#F1F2FD);
    font-family: "Epilogue", sans-serif;
}
.ant-modal-content{
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  
    overflow: hidden;

}

 
 .ant-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
 }

 /* From Uiverse.io by VijinV */ 
.inputbox {
    position: relative;
    width: 100%;
  }
  
  /* .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  } */
  .ant-input{
    font-size: 16px;
  }
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
    width: 100%;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: black;
    transform: translateX(-10px) translateY(-40px);
    font-size: 0,75em;
    
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #F1F2FD;;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }
  