.feedback {
  @apply flex flex-col items-center gap-4 bg-white pt-[61px] pb-[47px] mt-[72px];

  & > .feedback__group {
    @apply flex flex-col items-center lg:items-start;

    & > .title {
      @apply flex justify-start items-center gap-3 text-2xl font-bold mb-[18px];

      & > .line {
        @apply w-[183px] h-1 bg-black;
      }
    }

    & > .feedback__cards {
      @apply flex flex-col gap-14 lg:flex-row lg:gap-[61px];

      & > .feedback__card {
        @apply w-[380px] h-auto rounded-[20px] p-[18px_22px_34px_22px] shadow-[0px_6px_58px_0px_rgba(196,203,214,0.5)] max-md:w-full max-xl:w-1/3;

        & > .feedback__cardItem {
          @apply flex flex-col gap-4;

          & > .feedback__text {
            @apply font-normal text-base;
          }

          & > .feedback__cardImg {
            @apply flex flex-row justify-start items-center;

            & > img {
              @apply w-16 h-16 rounded-[73px] mr-4;
            }
          }

          & > .feedback__author {
            @apply mt-2 font-semibold text-base;
          }
        }
      }
    }
  }
}
