@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./utils/mixin";
@import "./utils/variable";

@import "./base/reset";

body {
  background-color: #f4f9fd;
}

input::-webkit-input-placeholder {
  color: #84878b;
}
input::-moz-input-placeholder {
  color: #84878b;
}

.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
