.selectCard {
  border: 2px solid #3f8cff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0px;
    width: 8px;
    height: 80%;
    background-color: #3f8cff;
    border-radius: 0 10px 10px 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-left: 10px solid #3f8cff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

